In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

salaries=pd.read_csv('datascience_salaries.csv')
salaries.head()

,Unnamed: 0,job_title,job_type,experience_level,location,salary_currency,salary
0,0,Data scientist,Full Time,Senior,New York City,USD,149000
1,2,Data scientist,Full Time,Senior,Boston,USD,120000
2,3,Data scientist,Full Time,Senior,London,USD,68000
3,4,Data scientist,Full Time,Senior,Boston,USD,120000
4,5,Data scientist,Full Time,Senior,New York City,USD,149000

In [24]:
salaries_copy=salaries.copy()
salaries_copy.head()
scaler = MinMaxScaler()

salaries_copy[['salary']] = scaler.fit_transform(salaries_copy[['salary']])
salaries_copy.head()
print(salaries_copy.dtypes)
print(salaries_copy.select_dtypes(include=['object']).columns.tolist())

Unnamed: 0            int64
job_title            object
job_type             object
experience_level     object
location             object
salary_currency      object
salary              float64
dtype: object
['job_title', 'job_type', 'experience_level', 'location', 'salary_currency']

In [26]:
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA

categorical_cols = salaries_copy.select_dtypes(include=['object']).columns

for col in categorical_cols:
    le = LabelEncoder()
    salaries_copy[col] = le.fit_transform(salaries_copy[col].astype(str))

salaries_copy[['job_title']] = scaler.fit_transform(salaries_copy[['job_title']])
salaries_copy[['job_type']] = scaler.fit_transform(salaries_copy[['job_type']])
salaries_copy[['experience_level']] = scaler.fit_transform(salaries_copy[['experience_level']])
salaries_copy[['location']] = scaler.fit_transform(salaries_copy[['location']])
salaries_copy[['salary_currency']] = scaler.fit_transform(salaries_copy[['salary_currency']])
salaries_copy.head()

pca = PCA(n_components=2)
reduced_data = pca.fit_transform(salaries_copy)
print(reduced_data)

[[-9.31620800e+02  3.77197689e-01]
 [-9.29620821e+02  2.48880749e-01]
 [-9.28620807e+02  2.44159968e-01]
 ...
 [ 1.31837917e+03  1.02073772e-01]
 [ 1.32337920e+03  1.98242292e-01]
 [ 1.32737919e+03  1.54548080e-01]]

In [29]:
salaries.head()
salaries.groupby('experience_level')['salary'].median()

experience_level
Entry        30000.0
Executive    46000.0
Mid          51000.0
Senior       68000.0
Name: salary, dtype: float64